/**
** Box sizing : border-box
** overflow : hidden
** padding : 0
** margin : 0
** font-size : 10px(62.5%) and use rem(try the function here)
** font-family :
* min-width : 320px Use of media query
* max-width : 1170px
** universal selectors
*/
:root {
  --cwp: #fff;
  --cwl: #F6F5F7;
  --cbp: #363636;
  --cbl: #ccc;
  --cgp: #eee;
  --cop: #ff8409;
  --cre: #f00;
  --cgs: #3cb371;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Montserrat', 'Poppins', Roboto, sans-serif;
}

html {
  font-family: 'Montserrat', 'Poppins', Roboto, sans-serif;
  font-size: 62.5%;
  max-width: 100%;
}

body {
  font-size: 1.6rem;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--cwp);
}

.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: var(--cbp);
}

a {
  color: var(--cbp);
  text-decoration: none;
}

ul {
  list-style: none;
}

.app .container {
  max-width: 150rem;
  width: 90%;
  margin: 0 auto;
}

/* Start of no selectable text */
.no-selectable-text {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

/* End of no selectable text */
.wrapper {
  position: relative;
}

.wrapper .top {
  position: absolute;
  right: 10rem;
  top: 3rem;
}

.wrapper .left {
  position: absolute;
  left: 10rem;
  top: 3rem;
}

.wrapper .top .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.wrapper .top .actions .login {
  margin-right: 1.5rem;
  padding-right: 1.5rem;
  border-right: 2px solid #656565;
}

a {
  color: var(--cbp);
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
}

a:hover {
  color: var(--cop);
}

.pub {
  position: absolute;
  top: 10rem;
  font-size: 3rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.create {
  margin-top: 2rem;
}

.create > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.create > form > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.create > form > .row > .col {
  width: 49%;
  margin-bottom: 2.5rem;
}

.create > form > .row > .col * {
  width: 100%;
}

.create > form > .row > .col textarea {
  resize: none;
  font-size: 1.6rem;
  height: 15rem;
  padding: .5rem 1rem;
  background-color: var(--cwl);
  border: none;
  outline: none;
}

.create > form > .row > .col > .title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.create > form > .row > .col select,
.create > form > .row > .col input {
  height: 3.5rem;
  padding: .5rem 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: var(--cwl);
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.create > form > .row > .col select.multiple {
  height: 15rem;
}

.create > form > .row > .col > .value.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: var(--cre);
}

.create > form > .row > .col .format-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50%;
}

.create > form > .row > .col .format-title span {
  width: auto;
}

.create > form > .row.title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.create > form > .row.title > h3 {
  font-size: 2.5rem;
  font-weight: 500;
}

.create > form > .row.actions {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.create > form > .row.actions button {
  border: 1px solid var(--cbp);
  padding: 1rem 3rem;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  cursor: pointer;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}

.create > form > .row.actions button:hover {
  border-color: var(--cop);
  color: var(--cop);
}
/*# sourceMappingURL=style-default.css.map */