table.content-table {
    border-collapse: collapse;
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    min-width: 60rem;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .15);
    &>thead {
        th {
            position: relative;
            cursor: pointer;
            border-right: 1px solid rgba($color: #cccccc, $alpha: .4);
            &>span {
                pointer-events: none;
                white-space: nowrap;
            }
            &>span:first-child {
                padding-right: 2rem;
            }
            &>span:last-child {
                position: absolute;
                right: 1rem;
                top: 50%;
                font-size: 1.6rem;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
            }
        }
        th.titre {
            min-width: 30rem;
            max-width: 35rem;
        }
        th.source {
            min-width: 10rem;
        }
        th.date-publication {
            width: 20rem;
        }
        th.auteurs {
            min-width: 20rem;
        }
        th.actions {
            min-width: 10rem;
        }
        tr {
            background-color: var(--cop);
            color: var(--cwp);
            text-align: left;
            font-weight: 400;
        }
    }
    th,
    td {
        padding: 1.2rem 2rem;
    }
    tbody {
        td.actions {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        td a {
            transition: all 300ms ease;
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
        }
        td a:hover {
            color: var(--cop);
        }
        tr {
            border-bottom: 1px solid #ddd;
        }
        tr:nth-last-of-type(odd) {
            background-color: #f3f3f3;
        }
        tr:last-of-type {
            border-bottom: 2px solid var(--cop);
        }
        td button {
            cursor: pointer;
            background-color: transparent;
            border: none;
            transition: all 300ms ease;
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
        }
        td button:hover {
            color: var(--cre);
        }
    }
    th.th-sort-asc::after,
    th.th-sort-desc::after {
        margin-left: .5rem;
    }
    th.th-sort-asc,
    th.th-sort-desc {
        background: rgba(0, 0, 0, .1);
    }
}

.wrapper-tables {
    margin-top: 5rem;
    width: 100%;
}

.table-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &>h3 {
        font-size: 3rem;
        font-weight: 600;
    }
}
